/* ************************************************ */
/* Custom properties                                */
/* ************************************************ */

:root {
  /* reference value after setting font-size to 10px*/
  font-size: 62.5%;
  --rem: 1rem;

  /* colors */
  --clr-bg: 231 6% 7%;
  --clr-dark: 231 11% 13%;
  --clr-light-dark: 227 15% 18%;
  --clr-blue: 209 100% 60%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-small: calc(var(--rem) * 1.6);
  --fs-medium: calc(var(--rem) * 2);
  --fs-normal: calc(var(--rem) * 3.2);
  --fs-large: calc(var(--rem) * 4);

  /* font-weights */
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-bold: 700;

  --br: calc(var(--rem) / 2);

  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* ************************************************ */
/* Reset                                            */
/* ************************************************ */

/* box-sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* reset margins */
h1,
h2,
h3,
p,
figure,
picture,
body {
  margin: 0;
}

/* remove list styles on ul, ol elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style-type: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* setup body */
body {
  font-family: "Karla", sans-serif;
  font-size: var(--fs-large);
  background-color: hsl(var(--clr-bg));
  color: hsl(var(--clr-white));
  line-height: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* ************************************************ */
/* Utility classes                                  */
/* ************************************************ */

.container {
  /* margin-block: calc(var(--rem) * 2); */
  min-height: 100vh;
  width: 100vw;
  background-color: hsl(var(--clr-light-dark));
  /* border-radius: calc(var(--rem) * 0.75); */
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
