/* ************************************************ */
/* custom styles                                    */
/* ************************************************ */

/* to hide top area when scrolling */

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* total of container margin-top and .header height */
    height: calc(var(--rem) * 10);
    background-color: hsl( var(--clr-bg));
    z-index: 1000;
}

/* Heading of application */

.header {
    width: calc(var(--rem) * 36);
    height: calc( var(--rem) * 8);
    margin-top: calc( var(--rem) * 2);
    padding: calc( var(--rem)) calc( var(--rem) * 1.5);
    position: fixed;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid hsl( var(--clr-blue) );
    border-radius: var(--br) var(--br) 0 0;
    background-color: hsl( var(--clr-dark));
}

.header > h1 {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
}

h1 > span {
    color: hsl( var(--clr-blue));
}

/* all star image styling */

.star {
    width: calc( var(--rem) * 4);
    cursor: pointer;
}

.header > img {
    padding-bottom: calc( var(--rem) / 2.5);
}

/* main content styling of appliation including notes */

main {
    padding: calc( var(--rem) * 9) calc( var(--rem)) 0;
}

.card {
    height: calc( var(--rem) * 12);
    margin-bottom: calc( var(--rem));
    padding: calc( var(--rem) / 2);
    background-color: hsl( var(--clr-dark));
    border-radius: calc( var(--rem) / 2);
}

.card:hover {
    box-shadow: 0 0 3px 2px hsl( var(--clr-blue) / .1);
}

.card > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card h2 {
    height: 100%;
    flex-basis: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding-left: calc(var(--rem) / 5);
    font-size: var(--fs-medium);
    line-height: 1.2;
    color: hsl( var(--clr-blue));
}

.card .note {
    font-weight: var(--fw-light);
    padding-bottom: calc( var(--rem));
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.card > footer > p {
    text-align: right;
    font-size: var(--fs-small);
    color:hsl( var(--clr-white) / .75)
}

/* change style of card in case of select */
.selected {
    background-color: hsl( var(--clr-blue) );
}

.selected h2 {
    color: hsl( var(--clr-dark));
}

/* footer styling of application */

.footer {
    margin: calc( var(--rem));
}

.button-add {
    position: fixed;
    bottom: calc( var(--rem) * 4);
    left: calc(50% + calc(var(--rem) * 9));
    width: calc( var(--rem) * 7);
    border-radius: 50%;
    box-shadow: 0 0 10px 10px hsl( var(--clr-dark));
    cursor: pointer;
}

.button-add:hover {
    box-shadow: 10px 10px 0px 0px hsl( var(--clr-dark));
}

/* modal styling */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color:hsl( var(--clr-dark) / .9);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(var(--rem) * 36);
    height: calc(var(--rem) * 16);
    padding: calc(var(--rem));
    background-color: hsl(var(--clr-white));
    border-radius: var(--br);
}

.modal-card h3 {
    text-align: center;
    margin-block: calc(var(--rem) * 1.3);
    font-size: calc( var(--fs-medium) * 1.1);
    color: hsl( var(--clr-dark));
}

.button-group {
    width: 100%;
    height: calc(var(--rem) * 6);
    border-radius: var(--br);
    overflow: hidden;
}

.button-group .button {
    font-size: calc( var(--fs-medium) * 1.1);
    font-weight: var(--fw-bold);
    width: 50%;
    height: 100%;
    border: 0;
    border-radius: 0;
    line-height: 0;
    cursor: pointer;
}

.yes {
    background-color: hsl( var(--clr-blue));
}

.yes:hover,
.yes:focus {
    background-color: hsl( var(--clr-blue) / .9);
}

.no {
    background-color: hsl( var(--clr-dark));
    color: hsl( var(--clr-white));
}

.no:hover,
.no:focus {
    background-color: hsl( var(--clr-dark) / .9);
}